<div id="accessSection">
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">
			<h2 class="navunder text-center"><strong>Enter Access Code</strong></h2>
			<hr class="style2">	
			<div id="requestAccess">
				<div class="row">
					<div class="col-1"></div>
					<div class="col-10">
						<p class="fontSize175">Enter your access code here</p>
						<input type="text" id="accessCode" name="accessCode" class="modalForm" placeholder="Enter your access code...." required>
					</div>
					<div class="col-1"></div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-4">
						<button type="button" id="submitCode" name="submitCode" class="modalForm btn btn-outline-light">Submit Code</button>
					</div>
					<div class="col-sm-12 col-md-4">
						<button type="button" id="clearCode" name="clearCode" class="modalForm btn btn-outline-light">Clear Code</button>
					</div>
					<div class="col-sm-12 col-md-4">
						<button type="button" id="resetCode" name="resetCode" class="modalForm btn btn-outline-light">Reset</button>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-12">
					<div id="msg" class="text-center"></div>
				</div>
			</div>
			<hr class="style2">
		</div>
		<div class="col-sm-1"></div>
	</div>
</div>