<nav class="navHeight navbar navbar-expand-lg navbar-dark borderTB">
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
        <ul class="navbar-nav ml-auto text-center">
            <li class="nav-item mar10S">
                <a id="iconDt" class="nav-link" href="/class">Classification <i class="fab fa-searchengin"></i></a>
				<a id="iconMt" class="nav-link" href="/class"><i class="fab fa-searchengin"></i> Classification</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto my-2 order-0 order-md-1 position-relative">
        <a class="mx-auto" href="#">
            <img class="headerImg" src="https://res.cloudinary.com/hitchadvisor/image/upload/v1620997929/card_class_salus.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
        <ul class="navbar-nav mr-auto text-center">
            <li class="nav-item mar10S">
                <a class="nav-link" href="/class/topicmodelling"><i class="fas fa-project-diagram"></i> Topic Modelling</a>
            </li>
        </ul>
    </div>
</nav>